<section class="flex flex-column align-items-center mb-6 mx-2">
  <h2 class="text-center">OPORTUNIDADES DE MEJORA OPERATIVA 2023</h2>
  <form
    class="flex flex-wrap gap-4 column-gap-8 w-10 justify-content-start my-4"
    (ngSubmit)="sendReport()"
    [formGroup]="formReport"
  >
    <div class="w-full md:max-w-20rem p-inputgroup my-2 flex flex-column">
      <span class="p-float-label">
        <p-autoComplete
          inputId="auditor"
          formControlName="auditor"
          [suggestions]="filteredAuditors | filterList : 'role' : role.auditor"
          (completeMethod)="filterAuditor($event)"
          styleClass="w-full border-round"
          [ngClass]="{
            'ng-invalid ng-dirty': submitted && f['auditor'].errors
          }"
          field="fullName"
          [dropdown]="true"
        ></p-autoComplete>
        <label class="text-gray-900 text-lg" for="auditor">Auditor *</label>
      </span>
    </div>

    <div class="w-full md:max-w-20rem p-inputgroup my-2 flex flex-column">
      <span class="p-float-label">
        <p-calendar
          inputId="date"
          formControlName="date"
          [showIcon]="true"
          [dateFormat]="'dd/mm/yy'"
        ></p-calendar>
        <label class="text-gray-900 text-lg" for="date"
          >Fecha de ejecución *</label
        >
      </span>
    </div>

    <div class="w-full md:max-w-20rem p-inputgroup my-2 flex flex-column">
      <span class="p-float-label">
        <p-inputNumber
          inputId="identification"
          formControlName="identification"
        ></p-inputNumber>
        <label class="text-gray-900 text-lg" for="date"
          >Número cedula de ciudadania *</label
        >
      </span>
    </div>

    <div class="w-full md:max-w-20rem p-inputgroup my-2 flex flex-column">
      <span class="p-float-label">
        <p-autoComplete
          inputId="area"
          formControlName="area"
          [suggestions]="filteredAreas"
          (completeMethod)="filterArea($event)"
          styleClass="w-full"
          [ngClass]="{
            'ng-invalid ng-dirty': submitted && f['area'].errors
          }"
          field="name"
          [dropdown]="true"
        ></p-autoComplete>
        <label class="text-gray-900 text-lg" for="area">Zona *</label>
      </span>
    </div>

    <div class="w-full md:max-w-20rem p-inputgroup my-2 flex flex-column">
      <span class="p-float-label">
        <p-autoComplete
          inputId="responsible"
          formControlName="responsible"
          [suggestions]="
            filteredResponsible | filterList : 'role' : role.responsible
          "
          (completeMethod)="filterResponsible($event)"
          styleClass="w-full border-round"
          [ngClass]="{
            'ng-invalid ng-dirty': submitted && f['responsible'].errors
          }"
          field="fullName"
          [dropdown]="true"
        ></p-autoComplete>
        <label class="text-gray-900 text-lg" for="responsible"
          >Responsable plan de acción *</label
        >
      </span>
    </div>

    <div class="w-full md:max-w-20rem p-inputgroup my-2 flex flex-column">
      <span class="p-float-label">
        <input
          pInputText
          type="text"
          [ngClass]="{
            'ng-invalid ng-dirty': submitted && f['cdaCode'].errors
          }"
          formControlName="cdaCode"
          inputId="cdaCode"
        />
        <label class="text-gray-900 text-lg" for="cdaCode"
          >Código del CDA o subproceso *</label
        >
      </span>
    </div>

    <div class="w-full md:max-w-20rem p-inputgroup my-2 flex flex-column">
      <span class="p-float-label">
        <input
          pInputText
          type="text"
          [ngClass]="{
            'ng-invalid ng-dirty': submitted && f['pdvCode'].errors
          }"
          formControlName="pdvCode"
          inputId="pdvCode"
        />
        <label class="text-gray-900 text-lg" for="pdvCode"
          >Código PDV o subproceso *</label
        >
      </span>
    </div>

    <div class="w-full md:max-w-20rem p-inputgroup my-2 flex flex-column">
      <span class="p-float-label">
        <p-autoComplete
          inputId="concept"
          formControlName="concept"
          [suggestions]="filteredConcepts"
          (completeMethod)="filterConcept($event)"
          styleClass="w-full"
          [ngClass]="{
            'ng-invalid ng-dirty': submitted && f['concept'].errors
          }"
          field="name"
          [dropdown]="true"
        ></p-autoComplete>
        <label class="text-gray-900 text-lg" for="concept">Concepto *</label>
      </span>
    </div>

    <div class="w-full md:max-w-full p-inputgroup my-2 flex flex-column">
      <span class="p-float-label">
        <textarea
          class="mb-2 block font-bold p-inputtext-sm"
          rows="4"
          cols="40"
          formControlName="improvement"
          pInputTextarea
          [ngClass]="{
            'ng-invalid ng-dirty': submitted && f['improvement'].errors
          }"
        ></textarea>
        <label class="text-gray-900 text-lg" for="improvement"
          >Oportunidad de mejora *</label
        >
      </span>
    </div>

    <div class="w-full md:max-w-20rem p-inputgroup my-2 flex flex-column">
      <span class="p-float-label">
        <input
          pInputText
          type="text"
          [ngClass]="{
            'ng-invalid ng-dirty': submitted && f['value'].errors
          }"
          formControlName="value"
          inputId="value"
        />
        <label class="text-gray-900 text-lg" for="value">Valor *</label>
      </span>
    </div>

    <div class="w-full md:max-w-20rem p-inputgroup my-2 flex flex-column">
      <span class="text-gray-900 text-lg mb-2">Actividad *</span>
      <span class="flex">
        <section *ngFor="let activity of activities" class="field-checkbox">
          <p-radioButton
            [inputId]="activity.enum"
            [value]="activity"
            formControlName="activity"
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && f['activity'].errors
            }"
          ></p-radioButton>
          <label [for]="activity.enum" class="mx-2 font-normal text-gray-800">{{
            activity.name
          }}</label>
        </section>
      </span>
    </div>

    <div class="w-full md:max-w-full p-inputgroup my-2 flex flex-column">
      <span class="p-float-label">
        <textarea
          class="mb-2 block font-bold p-inputtext-sm"
          rows="4"
          cols="40"
          formControlName="followUp"
          pInputTextarea
          [ngClass]="{
            'ng-invalid ng-dirty': submitted && f['followUp'].errors
          }"
        ></textarea>
        <label class="text-gray-900 text-lg" for="followUp"
          >Plan de acción y/o seguimiento *</label
        >
      </span>
    </div>

    <div class="w-full md:max-w-full p-inputgroup my-2 flex flex-column">
      <span class="text-gray-900 text-lg mb-2">Estado de La Auditoría *</span>
      <span class="flex flex-wrap">
        <section *ngFor="let auditState of auditStatus" class="field-checkbox">
          <p-radioButton
            [inputId]="auditState.enum"
            [value]="auditState"
            formControlName="status"
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && f['status'].errors
            }"
          ></p-radioButton>
          <label
            [for]="auditState.enum"
            class="mx-2 font-normal text-gray-800"
            >{{ auditState.name }}</label
          >
        </section>
      </span>
    </div>
  </form>
  <p-button
    inputId="send-report"
    styleClass="w-22rem  flex justify-content-center border-round bg-primary-500 hover:bg-primary-600"
    label="Enviar"
    (click)="sendReport()"
  >
  </p-button>
</section>
