<form class="card my-1 flex flex-column gap-3" [formGroup]="form">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-gray-700 dark:text-white">
      Olvido su contraseña <span class="text-primary-500">?</span>
    </h2>
    <p class="mb-0 text-md text-gray-400 dark:text-night-200">
      Ingresa tu correo para restablecer tu contraseña.
    </p>
  </div>

  <div class="text-left">
    <div class="p-inputgroup my-2 flex flex-column">
      <span class="p-float-label">
        <input
          class="border-round"
          pInputText
          type="text"
          [ngClass]="{
            'ng-invalid ng-dirty': submitted && f['email'].errors
          }"
          formControlName="email"
        />
        <label for="password">Correo electronico</label>
      </span>
      <div *ngIf="submitted && f['email'].errors" class="is__invalid-error">
        <div *ngIf="f['email'].errors['required']">Este campo es requrido</div>
        <div *ngIf="f['email'].errors['email']">El correo no es valido</div>
      </div>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="flex justify-content-between space-x-2">
    <p-button
      styleClass="flex w-14rem justify-content-center border-round bg-primary-500 hover:bg-primary-600"
      label="Enviar"
    >
    </p-button>

    <p-button
      styleClass="flex w-14rem justify-content-center border-round border-none text-gray-800 bg-gray-50 hover:bg-gray-100"
      routerLink="/auth/sign-in"
      label="Cancelar"
    >
    </p-button>
  </div>
</form>
